<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>当前借阅</title>
	<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
	<!-- <link rel="stylesheet" th:href="@{/css/AdminLTE.css}"> -->
	<link rel="stylesheet" th:href="@{/css/pagination.css}">
	<link rel="stylesheet" th:href="@{/css/ks-admin-b.css}">
	<script th:src="@{/js/jquery.min.js}"></script>
<!-- 	<script th:src="@{/js/bootstrap.js}"></script> -->
	<!-- 引入bootstrap.bundle -->
	<script th:src="@{/bootstrap/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/pagination.js}"></script>
	<script th:src="@{/js/my.js}"></script>
</head>

<body>
<!-- .box-body -->
<div class="box-header with-border">
	<h3 class="box-title">当前借阅</h3>
</div>
<div class="box-body">
	<!--工具栏 数据搜索 -->
	<div class="box-tools pull-right">
		<div class="has-feedback">
			<form th:action="@{/book/searchBorrowed}" method="post">
				图书名称：<input name="name" th:value="${search.name}">&nbsp;&nbsp;&nbsp;&nbsp;
				图书作者：<input name="author" th:value="${search.author}">&nbsp;&nbsp;&nbsp;&nbsp;
				出版社：<input name="press" th:value="${search.press}">&nbsp;&nbsp;&nbsp;&nbsp;
				<input class="btn btn-default" type="submit" value="查询">
			</form>
		</div>
	</div>
	<!--工具栏 数据搜索 /-->
	<!--数据列表-->
	<div class="table-box">
		<!-- 数据表格 -->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable text-center">
			<thead>
			<tr>
				<th class="sorting_asc">图书名称</th>
				<th class="sorting">图书作者</th>
				<th class="sorting">出版社</th>
				<th class="sorting">标准ISBN</th>
				<th class="sorting">书籍状态</th>
				<th class="sorting">借阅人</th>
				<th class="sorting">借阅时间</th>
				<th class="sorting">应归还时间</th>
				<th class="text-center">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="book : ${pageResult.records}">
				<td th:text="${book.name}">图书名称</td>
				<td th:text="${book.author}">图书作者</td>
				<td th:text="${book.press}">出版社</td>
				<td th:text="${book.isbn}">标准ISBN</td>
				<td>
					<span th:if="${book.status == '1'}">借阅中</span>
					<span th:if="${book.status == '2'}">归还中</span>
				</td>
				<td th:text="${book.borrower}">借阅人</td>
				<td th:text="${book.borrowtime}">借阅时间</td>
				<td th:text="${book.returntime}">应归还时间</td>
				<td class="text-center">
					<button type="button" class="btn bg-olive btn-xs" th:if="${book.status == '1'}" th:onclick="'returnBook(' + ${book.id} + ')'">归还</button>
					<button type="button" class="btn bg-olive btn-xs" th:if="${book.status == '2'}" disabled>归还中</button>
					<button type="button" class="btn bg-olive btn-xs" th:if="${book.status == '2'} and ${session.user.role} == 'ADMIN'" th:onclick="'returnConfirm(' + ${book.id} + ')'">归还确认</button>
				</td>
			</tr>
			</tbody>
		</table>
		<!-- 数据表格 /-->
		<div id="pagination" class="pagination"></div>
	</div>
	<!-- 数据表格 /-->
</div>
<!-- /.box-body -->
<script th:inline="javascript">
	/*分页插件展示的总页数*/
	pageargs.total = Math.ceil('[[${pageResult.total}]]' / pageargs.pagesize);
	/*分页插件当前的页码*/
	pageargs.cur = '[[${pageNum}]]'
	/*分页插件页码变化时将跳转到的服务器端的路径*/
	pageargs.gourl = '[[${gourl}]]'
	/*保存搜索框中的搜索条件，页码变化时携带之前的搜索条件*/
	bookVO.name = '[[${search.name}]]'
	bookVO.author = '[[${search.author}]]'
	bookVO.press = '[[${search.press}]]'
	/*分页效果*/
	pagination(pageargs);
</script>
</body>
</html>
