<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>借阅记录</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
	<link rel="stylesheet" th:href="@{/css/pagination.css}">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/pagination.js}"></script>
	<script th:src="@{/js/my.js}"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div class="box-header with-border">
	<h3 class="box-title">借阅记录</h3>
</div>
<div class="box-body">
	<!--工具栏 数据搜索 -->
	<div class="box-tools pull-right">
		<div class="has-feedback">
			<form th:action="@{/record/searchRecords}" method="post">
				<div th:if="${session.user.role == 'ADMIN'}">
					借阅人：<input name="borrower" th:value="${search.borrower}">&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				图书名称：<input name="bookname" th:value="${search.bookname}">&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn btn-default" type="submit">查询</button>
			</form>
		</div>
	</div>
	<!--工具栏 数据搜索 /-->
	<!-- 数据列表 -->
	<div class="table-box">
		<!--数据表格-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable text-center">
			<thead>
			<tr>
				<th class="sorting">借阅人</th>
				<th class="sorting_asc">图书名称</th>
				<th class="sorting">标准ISBN</th>
				<th class="sorting">借阅时间</th>
				<th class="sorting">归还时间</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="record : ${pageResult.records}">
				<td th:text="${record.borrower}"></td>
				<td th:text="${record.bookname}"></td>
				<td th:text="${record.bookisbn}"></td>
				<td th:text="${record.borrowTime}"></td>
				<td th:text="${record.remandTime}"></td>
			</tr>
			</tbody>
		</table>
		<!--数据表格/-->
		<!--分页插件-->
		<div id="pagination" class="pagination"></div>
	</div>
	<!-- 数据列表 /-->
</div>
<!-- /.box-body -->
</body>
<script>
	/*分页插件展示的总页数*/
	pageargs.total = Math.ceil(/*[[${pageResult.total}]]*/ / pageargs.pagesize);
	/*分页插件当前的页码*/
	pageargs.cur = /*[[${pageNum}]]*/
			/*分页插件页码变化时将跳转到的服务器端的路径*/
			pageargs.gourl = /*[[${gourl}]]*/
					/*保存搜索框中的搜索条件，页码变化时携带之前的搜索条件*/
					recordVO.bookname = /*[[${search.bookname}]]*/
							recordVO.borrower = /*[[${search.borrower}]]*/
									/*分页效果*/
									pagination(pageargs);
</script>
</html>
