<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybvtc.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.ybvtc.domain.entity.User">
            <id property="id" column="user_id" jdbcType="INTEGER"/>
            <result property="name" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="user_password" jdbcType="VARCHAR"/>
            <result property="email" column="user_email" jdbcType="VARCHAR"/>
            <result property="role" column="user_role" jdbcType="VARCHAR"/>
            <result property="status" column="user_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,user_password,
        user_email,user_role,user_status
    </sql>
</mapper>
